
/* 컨텐츠 사이즈 */


/* 서브 페이지 위아래 간격 */


/* 한화폰트 적용 */


/* 로고 */
.logo{--height: 30px;}


/* 자세히 링크 */



/* 버튼 */



/* 게시판 */


/* 텍스트 애니메이션 */


/* 서브 페이지 탑 애니 기본 형태 */
/* 서브 페이지 탑 애니메이션 */



/* 검은 배경 케이스 */


/* 컨텐츠 - 이미지 */


/* 컨텐츠 - 프로세스 */


/* 폼 공통 */


/* 유저 페이지 문의 form */


/* 유저 해더 */
.userPage header{padding-inline: var(--spacing);}
.userPage header div{height: var(--headerHeight);}
.userPage header div button{--width: 36px; width: var(--width); aspect-ratio: 1; text-indent: -9999px;}
.userPage header div nav{position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3);}
.userPage header div nav{display: none;}
.userPage header div nav.active{display: flex;}
.userPage header div nav ul{width: 240px; height: 100%; padding: 80px 30px; background-color: white; margin-left: auto;}
.userPage header div nav ul li:not(:last-child){margin-bottom: 30px;}
.userPage header div nav ul li a{font-size: 20px; line-height: 24px; font-weight: 700;}
.userPage header div nav button{position: absolute; right: 10px; top: 10px; background: url(../images/icon-close.png) no-repeat center / cover;}
.userPage header div > button{background: url(../images/icon-menu.png) no-repeat top calc(var(--width) * var(--imgIdx) * -1) center / 100%;}


/* 유저 푸터 */


/* 관리자 공통 */


/* 관리자 버튼 */


/* 관리자 - 텝 */


/* 관리자 게시판 */


/* 관리자 게시판 페이저 */


/* 관리자 인풋 */



/* 관리자 해더 */
