
/* 컨텐츠 사이즈 */
.contentSize{margin-inline: auto;}
.contentSize-padding{padding-inline: max(calc((100vw - var(--contentSize-padding)) / 2), var(--spacing)); box-sizing: border-box;}
.userPage .contentSize{max-width: var(--contentSize); width: calc(100% - calc(var(--spacing) * 2));}
.adminsPage .contentSize{width: var(--contentSize);}


/* 서브 페이지 위아래 간격 */
.boardPage, .boardDetail, .inquiryPage{padding-block: 240px 200px;}


/* 한화폰트 적용 */
.font-hanwha{font-family: 'hanwha';}


/* 로고 */
.logo{/* --imgIdx: 0; */ display: block; height: var(--height); aspect-ratio: 283 / 47; background: url(../images/logo2.png) no-repeat top calc(var(--height) * var(--imgIdx) * -1) center / 100%; text-indent: -9999px;}


/* 자세히 링크 */
[class^='arrow']{font-size: 20px; line-height: 24px; font-weight: 700; display: flex;}
[class^='arrow'] span{--height: 2px; width: 50px; margin-top: 10px; margin-left: 18px; height: var(--height); background-color: var(--bc); position: relative;}
[class^='arrow'] span::after{content: ''; position: absolute; right: 0; bottom: 0; width: 12.7px; height: var(--height); background-color: var(--bc); transform: rotate(45deg); transform-origin: right;}
[class^='arrow'][class$='white']{--bc: white;}
[class^='arrow'][class$='black']{--bc: black;}


/* 버튼 */
.userPage [class|="btn"]{width: 260px; height: 70px; display: flex; align-items: center;}
.userPage [class|='btn']:is([class$='black'], [class$='border']){font-size: 24px; font-weight: 700; margin-inline: auto; justify-content: center;}
.userPage [class|="btn"][class$="black"]{color: white; background-color: #222; border: none;}
.userPage [class|="btn"][class$="border"]{border: 1px solid #222; box-sizing: border-box;}
.userPage [class|="btn"][class$="download"]{font-size: 20px; padding-inline: 30px; --color: white; color: var(--color); font-weight: 400; border: 1px solid var(--color); box-sizing: border-box;}
.userPage [class|="btn"][class$="download"]::after{content: ''; width: 34px; aspect-ratio: 1; background: url('../images/icon-download.png') no-repeat center / cover; margin-left: auto;}
.userPage [class|="btn"][class$="download"] b{font-weight: 700;}


/* 게시판 */
ul.user-board{gap: 40px 4%; display: flex; flex-wrap: wrap;}
ul.user-board li{width: 30.6666%;}
ul.user-board li a{font-weight: 700;}
ul.user-board li a img{width: 100%; aspect-ratio: 380 / 250; margin-bottom: 30px;}
ul.user-board li a small{font-size: 20px; line-height: 20px; margin-bottom: 20px; display: block; color: #999;}
ul.user-board li a p{font-size: 26px; line-height: 38px;}


/* 텍스트 애니메이션 */
[data-textAni] > span{display: block; overflow: hidden;}
[data-textAni] > span span{display: block; transform: translateY(100%); transition: transform var(--aniDutaion) ease-in-out;}
.active [data-textAni] > span span{transform: translateY(0%); transition-delay: calc(var(--aniDelay) * var(--textIdx));}


/* 서브 페이지 탑 애니 기본 형태 */
[data-subTopAni]{padding-top: var(--headerHeight);}
[data-subTopAni] .topArea{height: calc(var(--fullHeight) * var(--totalContent) + var(--fullHeight)); background-color: #000F35; position: relative; /* z-index: -1; */}
[data-subTopAni] .topArea::before{content: ''; position: fixed; left: 0; top: var(--headerHeight); width: 100%; height: calc(100% + var(--headerHeight)); transform: translate3d(0, var(--bgY),0); background-repeat: no-repeat; background-position: top center; background-size: cover;}
.companyPage .topArea::before{background-image: url('../images/company-topBG.png');}
.solutionPage .topArea::before{background-image: url('../images/solution-topBG.png');}
.recruitPage .topArea::before{background-image: url('../images/recruit-topBG.png');}
[data-subTopAni] .topArea h2{padding-block: 140px 24px; font-size: 60px; line-height: 72px; font-weight: 700; background-color: white; position: fixed; left: 0; top: var(--headerHeight); width: 100%;}
[data-subTopAni] .topArea > div{position: fixed; left: 0; top: var(--headerHeight); width: 100%; height: calc(var(--fullHeight)); height: calc(var(--fullHeight) - var(--headerHeight)); display: flex; flex-direction: column; justify-content: center; align-items: center;}
[data-subTopAni] .topArea > div[data-textAniParents]{color: white; text-align: center;}
[data-subTopAni] :where(.topArea ~ *){background-color: white; position: relative; z-index: 2;}
/* 서브 페이지 탑 애니메이션 */
[data-subTopAni]{--aniDutaion: .6s;}
[data-subTopAni] .topArea h2{transform: translateY(-100%); transition: all var(--aniDutaion) ease-in-out;}
[data-subTopAni] .topArea h2.active{transform: translateY(0%);}
[data-subTopAni] .topArea h2.active:has(+ .active){transform: translateY(-100%);}
[data-subTopAni] .topArea::before{transition-property: opacity, transform; transition-duration: .6s, .5s; transition-delay: 0s, 0.02s; transition-timing-function: ease-in-out, linear;}
[data-subTopAni] .topArea:has( > div:nth-of-type(1).active)::before{opacity: 0.3;}
[data-subTopAni] .topArea:has( > div:nth-of-type(2).active)::before{opacity: 0.1;}
[data-subTopAni] .topArea > div{transition: all .6s ease-in-out;}
[data-subTopAni] .topArea > div[data-aniType="basic"]{transform: translateY(100%);}
[data-subTopAni] .topArea > div[data-aniType="basic"].active{transform: translateY(0);}
[data-subTopAni] .topArea > div[data-aniType="basic"].active:has( + .active){transform: translateY(-100%);}
[data-subTopAni] + footer{position: relative; z-index: 1;}


/* 검은 배경 케이스 */
b.case01{padding: 10px 30px; font-size: 24px; line-height: 34px; font-weight: 700; color: white; background-color: #222; border-radius: 25px; display: inline-block;}


/* 컨텐츠 - 이미지 */
.content-img{padding-block: var(--padding03) var(--padding02); text-align: center;}
.content-img strong{margin-bottom: 30px;}
.content-img p b{font-weight: 700;}
.content-img img{width: 100%;}
.content-img dl{font-size: 18px; line-height: 30px; display: flex; justify-content: center; align-items: center;}
.content-img dl dt{font-weight: 700;}
.content-img dl dd{color: #999; font-weight: 400; text-align: left; display: flex;}
.content-img dl dd::before{content: ''; width: 1px; background-color: var(--color-line); margin-inline: 40px;}

/* 컨텐츠 - 프로세스 */
.content-process{padding-block: var(--padding02); background-color: var(--color-BG02);; text-align: center;}
.content-process > p{margin-bottom: 100px;}
.content-process b{margin-bottom: 60px;}
.content-process ul{--width: 248px;  display: flex; justify-content: center; position: relative;}
.content-process ul::before{content: ''; position: absolute; right: 50%; top: calc(var(--width) / 2); width: calc(100% + (100vw - var(--contentSize-padding))); height: 1px; transform: translateX(50%); background-color: #222; }
.content-process ul li strong{width: var(--width); font-size: 26px; line-height: 38px; font-weight: 700; aspect-ratio: 1; background-color: white; display: flex; justify-content: center; align-items: center; border: 1px solid #222; box-sizing: border-box; border-radius: 100%; position: relative; z-index: 1;}


/* 폼 공통 */
input:not([type="file"]), textarea, select{border: none;}
input:not([type="file"], [type="submit"]), textarea, select{background-color: #F8F8F8;}
input:is([type="checkbox"], [type="radio"], input[type="file"]){display: none;}
:is(input, textarea, select)::placeholder{color: #BBB;}


/* 유저 페이지 문의 form */
.content-inquiry ul{row-gap: 60px; display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;}
.content-inquiry ul li{font-size: 22px;}
.content-inquiry ul li.full{width: 100%;}
.content-inquiry ul li:not(:is(:has(textarea), .full)){width: 46.7741%;}
.content-inquiry ul li:has(textarea, input[type="checkbox"], .full){width: 100%;}
.content-inquiry ul li label:first-child{line-height: 34px; margin-bottom: 20px; font-weight: 700; display: flex; align-items: center;}
.content-inquiry ul li:has(:required) > label:first-child::after{transform: translateY(3px); content: '*'; color: var(--color-point01);}
.content-inquiry ul li label[data-comment]{position: relative;}
.content-inquiry ul li label[data-comment]::after{content: attr(data-comment); font-size: 18px; margin-left: 20px; font-weight: 400; color: var(--color-point01);}
.content-inquiry ul li :is(input, textarea){width: 100%; padding: 20px; color: #222; box-sizing: border-box;}
.content-inquiry ul li div input{height: 70px;}
.content-inquiry ul li div[data-unit]{position: relative;}
.content-inquiry ul li div[data-unit]::after{content: attr(data-unit); font-size: 22px; right: 20px; font-weight: 400; position: absolute; top: 50%; transform: translateY(-50%);}
.content-inquiry ul li div[data-unit] input{padding-right: 75px;}
.content-inquiry ul li div:not(:has([type="checkbox"], [type="radio"], .full)){max-width: 580px;}
.content-inquiry ul li div:has([type="checkbox"], [type="radio"]){gap: 20px; display: flex;}
.content-inquiry ul li div:has([type="checkbox"], [type="radio"]) label{font-size: 22px; line-height: 34px; padding: 13px 30px; font-weight: 700; background-color: #F1F1F1; border-radius: 30px; cursor: pointer;}
.content-inquiry ul li div:has([type="checkbox"], [type="radio"]) input:checked + label{color: white; background-color: #222;}
.content-inquiry ul li small{font-size: 18px; line-height: 26px; margin-top: 15px; font-weight: 400; color: #999; display: block;}
.content-inquiry > div{margin-top: 60px;}
.content-inquiry > div input[type="checkbox"] + label{font-size: 20px; line-height: 26px; font-weight: 400; display: flex; align-items: center; cursor: pointer;}
.content-inquiry > div input[type="checkbox"] + label b{font-weight: 700; text-decoration: underline;}
.content-inquiry > div input[type="checkbox"] + label::before{--width: 26px; margin-right: 20px; content: ''; --checkIdx: 0; width: var(--width); aspect-ratio: 1; background: url('../images/icon-checkbox.png') no-repeat top calc(var(--width) * var(--checkIdx) * -1) center / 100%;}
.content-inquiry > div input[type="checkbox"] + label:not(:last-of-type){margin-bottom: 40px;}
.content-inquiry > div input[type="checkbox"]:checked + label::before{--checkIdx: 1;}
.content-inquiry ul li textarea{height: 140px; line-height: 34px;}
.content-inquiry input[type="submit"]{margin-top: 80px;}


/* 유저 해더 */
.userPage header{--imgIdx: 0; background-color: white; position: fixed; left: 0; top: 0; width: 100%; box-sizing: border-box; z-index: 100;}
.userPage header div{display: flex; justify-content: space-between; align-items: center;}
.userPage header.white{--imgIdx: 1; background-color: transparent;}
.userPage header.white div nav ul li a{color: white;}


/* 유저 푸터 */
.userPage footer{background-color: #444; color: white;}
.userPage footer > div{display: flex; justify-content: space-between;}
.userPage footer > div:nth-child(1){margin-bottom: 50px; align-items: center; position: relative;}
.userPage footer > div:nth-child(1)::after{content: ''; position: absolute; left: 50%; bottom: 0; width: calc(100vw - 17px); height: 1px; transform: translateX(-50%); background-color: rgba(255, 255, 255, 0.2);}
.userPage footer > div:nth-child(1) ul{display: flex; gap: 50px;}
.userPage footer > div:nth-child(1) ul li a{font-size: 18px; line-height: 100px; font-weight: 700;}
.userPage footer > div:nth-child(1) select{width: 277px; height: 50px; padding-inline: 15px; color: white; background-color: #333; border: none;}
.userPage footer > div:nth-child(2){font-size: 15px; margin-bottom: 40px;}
.userPage footer > div:nth-child(2) address h2{margin-bottom: 30px; --imgIdx: 1;}
.userPage footer > div:nth-child(2) address dl{ line-height: 30px; display: flex; align-items: center;}
.userPage footer > div:nth-child(2) address dl dt{display: flex; align-items: center;}
.userPage footer > div:nth-child(2) address dl dt::after{content: ':'; margin-inline: 0.4em;}
.userPage footer > div:nth-child(2) div ul:nth-child(1){margin-bottom: 40px; text-align: right;}
.userPage footer > div:nth-child(2) div ul:nth-child(1) li:not(:last-child){margin-bottom: 20px;}
.userPage footer > div:nth-child(2) div ul:nth-child(1) li a{line-height: 20px;}
.userPage footer > div:nth-child(2) div ul:nth-child(1) li:first-child a{font-weight: 700;}
.userPage footer > div:nth-child(2) div ul:nth-child(2){gap: 20px; display: flex; justify-content: flex-end;}
.userPage footer > div:nth-child(2) div ul:nth-child(2) li:nth-child(1){--iconIdx: 0;}
.userPage footer > div:nth-child(2) div ul:nth-child(2) li:nth-child(2){--iconIdx: 1;}
.userPage footer > div:nth-child(2) div ul:nth-child(2) li a{--height: 60px; height: var(--height); aspect-ratio: 1; background: url(../images/icon-sns.png) no-repeat top calc(var(--height) * var(--iconIdx) * -1) center / 100%; text-indent: -9999px;}
.userPage footer > p{font-size: 14px; line-height: 20px; padding-bottom: 60px; color: rgba(255, 255, 255, 0.5);}


/* 관리자 공통 */
.adminsPage [class*="Page"]{padding-block: var(--padding04) var(--padding03);}
.adminsPage [class*="Page"] h2{font-size: 36px; line-height: 50px; margin-bottom: 30px; font-weight: 700;}
.adminsPage [class*="Page"] h2 a{display: flex; align-items: center;}
.adminsPage [class*="Page"] h2 a::before{content: ''; width: 38px; margin-right: 15px; aspect-ratio: 1; background: url(../images/icon-back.png) no-repeat center / cover;}
.adminsPage :is(input:not([type="submit"]), select){height: 50px; }
.adminsPage :is(input:not([type="submit"]), select, textarea){font-size: 15px; line-height: 22px; padding: 15px; font-weight: 400; box-sizing: border-box;}
.adminsPage select{background-image: url(../images/icon-select.png); background-repeat: no-repeat; background-position: center right 15px; background-size: 22px;}


/* 관리자 버튼 */
[class*="Page"]:has(.content-btn){position: relative;}
div.content-btn{position: absolute; right: 0; top: var(--padding04); display: flex; align-items: center; gap: 10px;}
div.content-btn input[type="checkbox"] + label{font-size: 15px; line-height: 20px; font-weight: 400; display: flex; align-items: center; margin-right: 30px;}
div.content-btn input[type="checkbox"] + label::before{content: ''; width: 22px; aspect-ratio: 1; background-image: url(../images/icon-checkbox.png); background-repeat: no-repeat; background-position: top center; background-size: cover; margin-right: 10px;}
[class|="btn"]{width: 88px; font-size: 16px; font-weight: 700; aspect-ratio: 88 / 50;}
[class|="btn"][class$="black"]{background-color: #222; color: white;}
[class|="btn"][class$="border"]{border: 1px solid #222; box-sizing: border-box;}


/* 관리자 - 텝 */
.admin-tab{display: flex; align-items: center; gap: 41px; margin-block: 30px; position: relative;}
.admin-tab > button{font-size: 15px; line-height: 30px; color: #BBB; font-weight: 700;}
.admin-tab > button:not(:last-of-type){position: relative;}
.admin-tab > button:not(:last-of-type)::after{content: ''; width: 1px; height: 18px; background-color: var(--color-line); position: absolute; right: -20px; top: 50%; transform: translateY(-50%);}
.admin-tab > button:is(.active, :hover){color: #222;}
.admin-tab .search{position: absolute; right: 0; bottom: 0; max-width: 400px;}
.admin-tab .search input{font-size: 15px; height: 50px; width: 400px; font-weight: 400; padding: 15px 50px 15px 15px; box-sizing: border-box;}
.admin-tab .search button{position: absolute; right: 10px; top: 50%; transform: translateY(-50%); width: 32px; aspect-ratio: 1; background: url(../images/icon-search.png) no-repeat center / cover; text-indent: -9999px;}


/* 관리자 게시판 */
.admin-board-list, .admin-board-list li:not(:last-child){border-bottom: 1px solid var(--color-line);}
.admin-board-title, .admin-board-list li a{font-size: 15px; line-height: 22px; padding-inline: 20px; gap: 30px; display: flex; align-items: center; box-sizing: border-box; text-align: center;}
.admin-board-title{padding-block: 18px;}
.admin-board-list li a{padding-block: 20px;}
.admin-board-title{font-weight: 700; border-width: 1px; border-style: solid; border-color: #222 transparent var(--color-line);}
.admin-board-list:not(:has(li))::after{font-size: 16px; line-height: 22px; padding-block: 160px; font-weight: 400; text-align: center; display: block; content: attr(data-noneListText);}


/* 관리자 게시판 페이저 */
.admin-board-pager{--gap: 10px; margin-top: 60px; display: flex; justify-content: center; gap: var(--gap);}
.admin-board-pager a{width: 28px; aspect-ratio: 1;}
.admin-board-pager > a{background: url(../images/icon-pager.png) no-repeat top calc((100% / (var(--styleTotal) - 1) * var(--styleIdx))) center / 100%; text-indent: -9999px;}
.admin-board-pager ol{display: flex; gap: var(--gap);}
.admin-board-pager ol li a{font-size: 15px; font-weight: 700; color: #BBB; display: flex; justify-content: center; align-items: center;}
.admin-board-pager ol li:is(.active, :hover) a{color: #222;}
.admin-board-pager ol li.active a{text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 2px;}


/* 관리자 인풋 */
.admin-input{padding-block: 30px; border-width: 1px 0; border-style: solid; border-color: #222 transparent var(--color-line);}
.admin-input ul li{font-size: 15px; font-weight: 400; display: flex;}
.admin-input ul li:not(:last-child){margin-bottom: 20px;}
.admin-input ul li > label{line-height: 20px; padding-block: 15px; width: 120px; font-weight: 700;}
.admin-input ul li:has(:required) > label:first-child{display: flex; align-items: center;}
.admin-input ul li:has(:required) > label:first-child::after{transform: translateY(2px); content: '*'; color: var(--color-point01);}
.admin-input ul li > div{flex: 1;}
.admin-input ul li > div.limited{max-width: 400px;}
.admin-input ul li > div > *:first-child{width: 100%;}
.admin-input ul li > div > textarea{line-height: 22px; height: 360px;}
.admin-input ul li > div button.delete{width: 22px; aspect-ratio: 1; background: url(../images/icon-delete.png) no-repeat center / cover; text-indent: -9999px;}
.admin-input ul li > div:has(input[type="file"]){display: flex; gap: 20px;}
.admin-input ul li > div:has(input[type="file"]) > *{width: 180px; height: 120px;}
.admin-input ul li > div:has(input[type="file"]) label{border: 2px dashed #DEDEDE; display: flex; justify-content: center; align-items: center; box-sizing: border-box;}
.admin-input ul li > div:has(input[type="file"]) div{position: relative;}
.admin-input ul li > div:has(input[type="file"]) div img{width: 100%; height: 100%; object-fit: cover;}
.admin-input ul li > div:has(input[type="file"]) div button.delete{position: absolute; right: 0; top: 0; transform: translate(50%, -50%);}
.admin-input ul li > div:has(input[type="url"]){position: relative;}
.admin-input ul li > div:has(input[type="url"]) input[type="url"]{padding-right: 52px;}
.admin-input ul li > div:has(input[type="url"]) button{position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
.admin-input ul li div:has([type="checkbox"], [type="radio"]){gap: 10px; display: flex; align-items: center;}
.admin-input ul li div:has([type="checkbox"], [type="radio"]) label{line-height: 20px; padding: 10px 20px; font-weight: 700; background-color: #F1F1F1; border-radius: 25px; cursor: pointer;}
.admin-input ul li div:has([type="checkbox"], [type="radio"]) input:checked + label{color: white; background-color: #222;}


/* 관리자 해더 */
.adminsPage header{position: sticky; left: 0; top: 0; width: 100%; background-color: white; border-bottom: 1px solid var(--color-line); z-index: 100;}
.adminsPage header div{max-width: 1920px; margin-inline: auto; display: flex; justify-content: center; align-items: center; position: relative;}
.adminsPage header div h1{width: 236px; aspect-ratio: 236 / 40; position: absolute; left: 20px; top: 50%; transform: translateY(-50%); background: url(../images/logo2.png) no-repeat top center / cover; text-indent: -9999px;}
.adminsPage header div ul{gap: 80px; display: flex; align-items: center;}
.adminsPage header div ul li a{font-size: 16px; line-height: 70px; font-weight: 700; color: #BBB;}
.adminsPage header div ul li a.router-link-active{position: relative;}
.adminsPage header div ul li a:is(.router-link-active, :hover){color: #222;}
.adminsPage header div ul li a.router-link-active::after{content: ''; position: absolute; left: 0; bottom: 0; width: 100%; height: 3px; background-color: #222;}
