
/* 컨텐츠 사이즈 */
.contentSize{max-width: var(--contentSize); margin-inline: auto;}
.contentSize-padding{padding-inline: calc((100vw - 1240px) / 2); box-sizing: border-box;}

/* 서브 페이지 위아래 간격 */
.boardPage, .boardDetail, .inquiryPage{padding-block: 240px 200px;}


/* 로고 */
.logo{--height: 48px; --imgIdx: 0; display: block; height: var(--height); aspect-ratio: 283 / 48; background: url(../images/logo.png) no-repeat top calc(var(--height) * var(--imgIdx) * -1) center / 100%; text-indent: -9999px;}

/* 자세히 링크 */
[class^='arrow']{font-size: 20px; line-height: 24px; font-weight: 700; display: flex;}
[class^='arrow'] span{--height: 2px; width: 50px; margin-top: 10px; margin-left: 18px; height: var(--height); background-color: var(--bc); position: relative;}
[class^='arrow'] span::after{content: ''; position: absolute; right: 0; bottom: 0; width: 12.7px; height: var(--height); background-color: var(--bc); transform: rotate(45deg); transform-origin: right;}
[class^='arrow'][class$='white']{--bc: white;}
[class^='arrow'][class$='black']{--bc: black;}

/* 버튼 */
[class|="btn"]{width: 260px; height: 70px; display: flex; align-items: center;}
[class|='btn']:is([class$='black'], [class$='border']){font-size: 24px; font-weight: 700; margin-inline: auto; justify-content: center;}
[class|="btn"][class$="black"]{color: white; background-color: #222; border: none;}
[class|="btn"][class$="border"]{border: 1px solid #222; box-sizing: border-box;}
[class|="btn"][class$="download"]{font-size: 20px; padding-inline: 30px; --color: white; color: var(--color); font-weight: 400; border: 1px solid var(--color); box-sizing: border-box;}
[class|="btn"][class$="download"]::after{content: ''; width: 34px; aspect-ratio: 1; background: url('../images/icon-download.png') no-repeat center / cover; margin-left: auto;}
[class|="btn"][class$="download"] b{font-weight: 700;}


/* 게시판 */
ul.boardBox{gap: 40px 4%; display: flex; flex-wrap: wrap;}
ul.boardBox li{width: 30.6666%;}
ul.boardBox li a{font-weight: 700;}
ul.boardBox li a img{width: 100%; aspect-ratio: 380 / 250; margin-bottom: 30px;}
ul.boardBox li a small{font-size: 20px; line-height: 20px; margin-bottom: 20px; display: block; color: #999;}
ul.boardBox li a p{font-size: 26px; line-height: 38px;}


/* 텍스트 애니메이션 */

[data-textAni]{display: block; overflow: hidden;}
[data-textAni] span{display: block; transform: translateY(100%); transition: transform var(--aniDutaion) ease-in-out;}
.active [data-textAni] span{transform: translateY(0%); transition-delay: calc(var(--aniDelay) * var(--textIdx));}


/* 해더 */
header{padding-inline: 40px 60px; background-color: white; position: fixed; left: 0; top: 0; width: 100%; box-sizing: border-box; z-index: 100;}
header div{width: 100%; max-width: 1920px; margin-inline: auto; display: flex; justify-content: space-between; align-items: center;}
header div nav ul{display: flex; justify-content: center; align-items: center;}
header div nav ul li a{font-size: 18px; line-height: var(--headerHeight); padding-inline: 40px; font-weight: 700;}
header.white{background-color: transparent;}
header.white div h1 a{--imgIdx: 1;}
header.white div nav ul li a{color: white;}


/* 푸터 */
footer{background-color: #444; color: white;}
footer > div{display: flex; justify-content: space-between;}
footer > div:nth-child(1){margin-bottom: 50px; align-items: center; position: relative;}
footer > div:nth-child(1)::after{content: ''; position: absolute; left: 50%; bottom: 0; width: calc(100vw - 17px); height: 1px; transform: translateX(-50%); background-color: rgba(255, 255, 255, 0.2);}
footer > div:nth-child(1) ul{display: flex; gap: 50px;}
footer > div:nth-child(1) ul li a{font-size: 18px; line-height: 100px; font-weight: 700;}
footer > div:nth-child(1) select{width: 277px; height: 50px; padding-inline: 15px; color: white; background-color: #333; border: none;}
footer > div:nth-child(2){font-size: 15px; margin-bottom: 40px;}
footer > div:nth-child(2) address h2{margin-bottom: 30px; --imgIdx: 1;}
footer > div:nth-child(2) address dl{ line-height: 30px; display: flex; align-items: center;}
footer > div:nth-child(2) address dl dt{display: flex; align-items: center;}
footer > div:nth-child(2) address dl dt::after{content: ':'; margin-inline: 0.4em;}
footer > div:nth-child(2) div ul:nth-child(1){margin-bottom: 40px; text-align: right;}
footer > div:nth-child(2) div ul:nth-child(1) li:not(:last-child){margin-bottom: 20px;}
footer > div:nth-child(2) div ul:nth-child(1) li a{line-height: 20px;}
footer > div:nth-child(2) div ul:nth-child(1) li:first-child a{font-weight: 700;}
footer > div:nth-child(2) div ul:nth-child(2){gap: 20px; display: flex; justify-content: flex-end;}
footer > div:nth-child(2) div ul:nth-child(2) li:nth-child(1){--iconIdx: 0;}
footer > div:nth-child(2) div ul:nth-child(2) li:nth-child(2){--iconIdx: 1;}
footer > div:nth-child(2) div ul:nth-child(2) li a{--height: 60px; height: var(--height); aspect-ratio: 1; background: url(../images/icon-sns.png) no-repeat top calc(var(--height) * var(--iconIdx) * -1) center / 100%; text-indent: -9999px;}
footer > p{font-size: 14px; line-height: 20px; padding-bottom: 60px; color: rgba(255, 255, 255, 0.5);}