
/* 컨텐츠 사이즈 */


/* 서브 페이지 위아래 간격 */
.boardPage, .boardDetail, .inquiryPage{padding-top: 118px;}


/* 한화폰트 적용 */


/* 로고 */
.logo{--height: 30px;}


/* 자세히 링크 */
[class^='arrow']{font-size: 13px; line-height: 1.23;}
[class^='arrow'] span{--height: 1.5px; width: 30px; margin-top: 7px; margin-left: 7px;}
[class^='arrow'] span::after{width: 9px;}


/* 버튼 */
.userPage [class|="btn"]{width: 100%; max-width: 360px; height: 50px;}
.userPage [class|='btn']:is([class$='black'], [class$='border'], [class$="download"]){font-size: 16px;}
.userPage [class|="btn"][class$="download"]{padding-inline: 20px;}
.userPage [class|="btn"][class$="download"]::after{width: 28px;}


/* 게시판 */
ul.user-board{display: flex;}
ul.user-board li a img{margin-bottom: 20px;}
ul.user-board li a small{font-size: 13px; line-height: 1.384; margin-bottom: 10px;}
ul.user-board li a p{font-size: 16px; line-height: 1.25;}


/* 텍스트 애니메이션 */


/* 서브 페이지 탑 애니 기본 형태 */
[data-subTopAni] .topArea h2{padding-block: 60px 34px; font-size: 30px; line-height: 1.2;}
/* 서브 페이지 탑 애니메이션 */



/* 검은 배경 케이스 */
b.case01{padding: 8px 20px; font-size: 15px; line-height: 1.2;}


/* 이미지 박스 */
.box-img{width: 100%; max-width: calc(var(--mobileContentSize) + (var(--spacing) * 2)); margin-inline: auto;}


/* 컨텐츠 - 이미지 */
.content-img strong{margin-bottom: 20px;}
.content-img dl{font-size: 13px; max-width: var(--mobileContentSize); text-align: left; margin-inline: auto;}
.content-img dl dt{line-height: 1.538; margin-bottom: 7px;}
.content-img dl dd{line-height: 1.384;}


/* 컨텐츠 - 프로세스 */
.content-process > p{margin-bottom: 50px;}
.content-process b{margin-bottom: 40px;}
.content-process ul{--width: 160px;}
.content-process ul::before{left: calc(var(--width) / 2); top: 0; width: 1px; height: 100%;}
.content-process ul li:not(:last-child){margin-bottom: 20px;}
.content-process ul li strong{font-size: 16px; line-height: 1.375;}


/* 폼 공통 */


/* 유저 페이지 문의 form */
/* .content-inquiry{max-width: var(--mobileContentSize); margin-inline: auto;} */
.content-inquiry ul li{font-size: 15px;}
.content-inquiry ul li:not(:last-child){margin-bottom: 30px;}
.content-inquiry ul li label:first-child{line-height: 1.333; margin-bottom: 12px;}
.content-inquiry ul li label[data-comment]::after{font-size: 12px; margin-left: 7px;}
.content-inquiry ul li :is(input, textarea){padding: 15px;}
.content-inquiry ul li div input{height: 50px;}
.content-inquiry ul li div[data-unit]::after{font-size: 15px; right: 15px;}
.content-inquiry ul li div[data-unit] input{padding-right: 60px;}
.content-inquiry ul li div:has([type="checkbox"], [type="radio"]){gap: 10px; flex-wrap: wrap;}
.content-inquiry ul li div:has([type="checkbox"], [type="radio"]) label{font-size: 15px; line-height: 20px; padding: 13px 20px;}
.content-inquiry ul li small{font-size: 12px; line-height: 1.333; margin-top: 12px;}
.content-inquiry ul li textarea{height: 100px; line-height: 1.333;}
.content-inquiry > div{margin-top: 30px;}
.content-inquiry > div input[type="checkbox"] + label{font-size: 13px; line-height: 1.538;}
.content-inquiry > div input[type="checkbox"] + label::before{--width: 22px; margin-right: 10px;}
.content-inquiry > div input[type="checkbox"] + label:not(:last-of-type){margin-bottom: 20px;}
.content-inquiry input[type="submit"]{margin-top: 50px;}


/* 유저 해더 */
.userPage header div button{--width: 36px;}
.userPage header div nav ul{width: 240px; padding: 80px 30px;}
.userPage header div nav ul li:not(:last-child){margin-bottom: 30px;}
.userPage header div nav ul li a{font-size: 20px; line-height: 1.2;}
.userPage header div nav button{right: 10px; top: 10px;}
.userPage header div > button{background: url(../images/icon-menu.png) no-repeat top calc(var(--width) * var(--imgIdx) * -1) center / 100%;}


/* 유저 푸터 */
.userPage footer > div:nth-child(1){font-size: 13px;}
.userPage footer > div:nth-child(1) > ul{padding-block: 30px; gap: 20px 30px; flex-wrap: wrap; position: relative;}
.userPage footer > div:nth-child(1) > ul::after{content: ''; position: absolute; left: 50%; bottom: 0; width: calc(100vw - var(--scrollWidth)); height: 1px; transform: translateX(-50%); background-color: rgba(255, 255, 255, 0.2);}
.userPage footer > div:nth-child(1) > ul li a{line-height: 1.23;}
.userPage footer > div:nth-child(1) > div button{line-height: 3.846; width: 100%;}
.userPage footer > div:nth-child(1) > div div{padding: 20px 30px; width: calc(100% - 60px); max-width: 300px; left: 50%; top: calc(100% - 8px); transform: translateX(-50%); flex-wrap: wrap; box-sizing: border-box; z-index: 1;}
.userPage footer > div:nth-child(1) > div div ul{font-size: 13px; width: 109px;}
.userPage footer > div:nth-child(1) > div div ul:nth-child(-n + 2){padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.userPage footer > div:nth-child(1) > div div ul:nth-child(2n + 1){padding-right: 20px;}
.userPage footer > div:nth-child(2){font-size: 12px; line-height: 1.5; padding-block: 30px;}
.userPage footer > div:nth-child(2) address{margin-bottom: 20px;}
.userPage footer > div:nth-child(2) address h2{margin-bottom: 20px;}
.userPage footer > div:nth-child(2) > p{font-size: 11px; line-height: 1.363; margin-bottom: 30px;}
.userPage footer > div:nth-child(2) div ul:nth-child(1){margin-bottom: 30px;}
.userPage footer > div:nth-child(2) div ul:nth-child(1) li:not(:last-child){margin-bottom: 10px;}
.userPage footer > div:nth-child(2) div ul:nth-child(2) li a{--height: 46px;}
.userPage .goToTop{right: 20px; bottom: 20px; width: 52px;}


/* 관리자 공통 */


/* 관리자 버튼 */


/* 관리자 - 텝 */


/* 관리자 게시판 */


/* 관리자 게시판 페이저 */


/* 관리자 인풋 */



/* 관리자 해더 */
