

/* 메인 페이지 */
/* 메인 페이지 - 페이저 */
.mainPage .fullPager{display: none;}
/* 메인 페이지 - 최상단 영역 */
.mainPage .topArea > div{--typingHeight: 24px;}
.mainPage .topArea > div h2{font-size: 26px; line-height: 1.153; margin-bottom: min(6.25vh, 40px);}
.mainPage .topArea > div h2 b{font-size: 60px; line-height: 1.167;}
.mainPage .topArea > div p{font-size: 18px;}
.mainPage .topArea > .scroll{font-size: 9px; line-height: 1.222; letter-spacing: 2.7px; bottom: 0;}
.mainPage .topArea > .scroll span{height: min(15.625vh, 100px); margin-top: min(1.09375vh, 7px);}
/* 메인 페이지 - 솔루션 영역 */
.mainPage .solutionArea ul li{height: 50%;}
.mainPage .solutionArea ul li div strong{font-size: 26px; line-height: 1.307; margin-bottom: min(4.6875vh, 30px);}
.mainPage .solutionArea ul li div p{display: none;}
/* 메인 페이지 - 솔루션 영역 */
.mainPage .terraTitle div{height: 425px;}
.mainPage .terraTitle div strong{font-size: 26px; line-height: 1.307; margin-bottom: 20px;}
.mainPage [class^="terra"][class*="Area"] > div > div{height: 425px; justify-content: center;}
.mainPage [class^="terra"][class*="Area"] > div > div > strong{font-size: 26px; line-height: 1.307; margin-bottom: 20px; /* margin-bottom: min(3.125vh, 20px); */}
.mainPage [class^="terra"][class*="Area"] > div > div > p{font-size: 18px; line-height: 1.333; margin-bottom: 80px; /* margin-bottom: min(12.5vh, 80px); */}
.mainPage [class^="terra"][class*="Area"] > div > div > p strong{font-size: 26px; line-height: 1.307; margin-bottom: 20px; /* margin-bottom: min(3.125vh, 20px); */}
.mainPage [class^="terra"][class*="Area"] > div > div div{width: calc((100% - 20px) / 2); max-width: 300px; height: 180px; padding: 15px 15px 20px; /* height: min(28.125vh, 180px); padding: min(2.34375vh, 15px) 15px min(3.125vh, 20px); */}
.mainPage [class^="terra"][class*="Area"] > div > div div:nth-of-type(1){margin-top: 40px; /* margin-top: min(6.25vh, 40px); */ margin-right: 20px;}
.mainPage [class^="terra"][class*="Area"] > div > div div strong{font-size: 25px; line-height: 1.2; margin-bottom: 10px; /* margin-bottom: min(1.5625vh, 10px); */}
.mainPage [class^="terra"][class*="Area"] > div > div div strong small{font-size: 15px;}
.mainPage [class^="terra"][class*="Area"] > div > div div p{font-size: 12px; line-height: 1.5;}
.mainPage .terra01Area > div > div div::before{--height: 30px;}
.mainPage .terra02Area > div > div div::before{--height: 38px;}
/* 메인 페이지 - 기업 소개 영역 */
.mainPage .companyArea div p{font-size: 26px; line-height: 1.307; max-width: 240px;}
.mainPage .companyArea div a{margin-top: min(9.375vh, 60px);}
/* 메인 페이지 - 게시판 영역 */
.mainPage .boardArea > div > div h3{font-size: 26px; line-height: 1.307; margin-bottom: min(6.25vh, 40px);}
.mainPage .boardArea .user-board{gap: 20px; overflow: auto; width: calc(100% + (var(--spacing) * 2)); transform: translateX(calc(var(--spacing) * -1)); padding-inline: var(--spacing); box-sizing: border-box;}
.mainPage .boardArea .user-board li{min-width: 280px; flex: 1;}
.mainPage .boardArea > div > div > a{margin-top: min(6.25vh, 40px);}


/* 기업 소개 페이지 */
.companyPage .topArea > div strong{font-size: 26px; line-height: 1.307; margin-bottom: 20px;}
.companyPage .topArea > div p{font-size: 20px; line-height: 1.3;}
.companyPage .VPPArea .box-img{aspect-ratio: 360 / 755; background-image: url(../images/company-VVPImg-M.png);}
.companyPage :is(.missionArea, .visionArea) b{font-size: 18px; line-height: 1.667; margin-bottom: 20px;}
.companyPage :is(.missionArea, .visionArea) strong{font-size: 34px; line-height: 1.176;}
.companyPage .peopleArea strong{font-size: 26px; line-height: 1.307; margin-bottom: 60px;}
.companyPage .peopleArea ul{gap: 60px 20px;}
.companyPage .peopleArea ul li img{margin-bottom: 25px;}
.companyPage .peopleArea ul li :is(b, span){margin-bottom: 7px;}
.companyPage .peopleArea ul li b{font-size: 20px; line-height: 1.2;}
.companyPage .peopleArea ul li span{font-size: 18px; line-height: 1.333; margin-left: 15px;}
.companyPage .peopleArea ul li small{font-size: 15px; line-height: 1.2; margin-bottom: 15px;}
.companyPage .peopleArea ul li p{font-size: 15px; line-height: 1.6;}
.companyPage .historyArea strong{font-size: 26px; line-height: 1.307; margin-bottom: 40px;}
.companyPage .historyArea ol::before{font-size: 30px; line-height: 1.2; margin-bottom: 30px; display: block;}
.companyPage .historyArea ol li::before{width: 6px; margin-right: 6px;}
.companyPage .historyArea ol li{font-size: 16px; --lineHeight: 22px;}
.companyPage .historyArea ol li:not(:last-child){padding-bottom: 30px;}
.companyPage .historyArea ol li small{font-size: 14px; margin-right: 20px;}
.companyPage .bottomArea::before{content: ''; display: block; max-width: 300px; margin: 0 auto 30px;}


/* 전력거래 솔루션, 발전자원 모집 페이지 공통 */
:is(.solutionPage, .recruitPage) .topArea div > strong{font-size: 30px; line-height: 1.2;}
:is(.solutionPage, .recruitPage) .topArea div > p{font-size: 26px; line-height: 1.307;}
:is(.solutionPage, .recruitPage) .subTitle{font-size: 26px; line-height: 1.307;}
:is(.solutionPage, .recruitPage) .subTitle2{font-size: 20px; line-height: 1.3;}
:is(.solutionPage, .recruitPage) > div:has(.content-inquiry) > p{margin-bottom: 60px;}


/* 전력거래 솔루션 페이지 */
.solutionPage .topArea div:nth-of-type(3) ul li{width: 100%; max-width: 320px; height: min(42.1875vh, 270px); padding: 30px 40px;}
.solutionPage .topArea div:nth-of-type(3) ul li:not(:last-child){margin-bottom: 20px;}
.solutionPage .topArea div:nth-of-type(3) ul li::before{--width: 130px;}
.solutionPage .topArea div:nth-of-type(3) ul li > mark{font-size: 26px; line-height: 1.307;}
.solutionPage .topArea div:nth-of-type(3) ul li p{--fontSize: 18px; line-height: 1.333;}
.solutionPage .topArea div:nth-of-type(3) ul li p:first-of-type{margin-bottom: 20px;}
.solutionPage .content-process ul{max-width: 320px; margin-inline: auto;}
.solutionPage .content-process ul li{display: flex;  align-items: center;}
.solutionPage .content-process ul li strong{flex: 1; flex-shrink: 0;}
.solutionPage .content-process ul li p{font-size: 14px; line-height: 1.571; margin-left: 20px; text-align: left;}
.solutionPage .PPAArea{padding-block: 40px;}
.solutionPage .PPAArea > .tab-btn{gap: 40px;}
.solutionPage .PPAArea > .tab-btn li button{font-size: 16px; line-height: 54px;}
.solutionPage .PPAArea > .tab-btn li button.active::after{height: 3px;}
.solutionPage :is(.PPA01Area, .PPA02Area, .PPA03Area) .box-img{aspect-ratio: 360 / 778;}
.solutionPage .PPA01Area{padding-block: 40px 77px;}
.solutionPage .PPA01Area .box-img{background-image: url(../images/solution-PPAImg01-M.png);}
.solutionPage .PPA02Area{padding-block: 77px 77px;}
.solutionPage .PPA02Area .box-img{background-image: url(../images/solution-PPAImg02-M.png);}
.solutionPage .PPA03Area{padding-block: 77px 40px;}
.solutionPage .PPA03Area .box-img{background-image: url(../images/solution-PPAImg03-M.png);}
.solutionPage .content-img p{margin-bottom: 30px;}
.solutionPage .content-img div.hashArea{max-width: 370px; gap: 10px; margin-bottom: 50px;}
.solutionPage .content-img div.hashArea b{font-size: 14px; line-height: 1.285; padding: 7px 10px;}
.solutionPage .content-img dl{margin-top: 20px;}
.solutionPage .expertArea p{margin-bottom: 60px;}
.solutionPage .expertArea ul{max-width: 240px; aspect-ratio: 240 / 690; margin-inline: auto;}
.solutionPage .expertArea ul li{width: 100%; font-size: 18px; line-height: 1.333; position: absolute; left: 0;}
.solutionPage .expertArea ul li:nth-child(1){top: 0;}
.solutionPage .expertArea ul li:nth-child(2){top: 50%; translate: 0 -50%;}
.solutionPage .expertArea ul li:nth-child(3){bottom: 0;}



/* 발전자원 모집 페이지 */
.recruitPage .productArea > strong{margin-bottom: 40px;}
.recruitPage .productArea ul{max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage .productArea ul li{aspect-ratio: 320 / 200; background-image: url(../images/recruit-productBG-M.png);}
.recruitPage .productArea ul li:not(:last-child){margin-bottom: 20px;}
.recruitPage .productArea ul li strong{font-size: 22px; line-height: 1.1818; margin-bottom: 15px;}
.recruitPage .productArea ul li p{font-size: 15px; line-height: 1.333;}
.recruitPage .content-process ul{max-width: 160px; margin-inline: auto;}
.recruitPage .content-process ul li strong:has(span){line-height: 1.375;}
.recruitPage .content-process ul li strong span{margin-block: 15px;}
.recruitPage .content-img p{margin-bottom: 50px;}
.recruitPage .content-img dl{margin-top: 10px;}
.recruitPage .content-img .box-img{aspect-ratio: 360 / 658; background-image: url(../images/recruit-RE100-M.png);}
.recruitPage [class*="condition"][class*="Area"] > b{margin-bottom: 30px;}
.recruitPage [class*="condition"][class*="Area"] ul{gap: 12px; flex-wrap: wrap; max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage [class*="condition"][class*="Area"] ul li{flex: 1; min-width: calc((100% - 12px) / 2); --spacing: 20px; padding: var(--spacing);}
.recruitPage [class*="condition"][class*="Area"] ul li:nth-child(5){height: 150px;}
.recruitPage [class*="condition"][class*="Area"] ul li span{font-size: 14px; line-height: 1.2857; margin-bottom: 10px;}
.recruitPage [class*="condition"][class*="Area"] ul li b{font-size: 17px; line-height: 1.352; margin-bottom: 10px;}
.recruitPage [class*="condition"][class*="Area"] ul li small{font-size: 12px; line-height: 1.3333;}
.recruitPage [class*="condition"][class*="Area"] ul li::after{width: 117px;}
.recruitPage [class*="condition"][class*="Area"] p:last-child{font-size: 16px; line-height: 1.5; margin-top: 40px;}
.recruitPage .condition01Area ul li{height: 230px;}
.recruitPage .condition02Area ul li{height: 250px;}
.recruitPage .condition02Area strong{margin-bottom: 20px;}
.recruitPage .condition02Area p:nth-child(2){margin-bottom: 50px;}
.recruitPage .textArea{padding-block: 165px;}
.recruitPage .textArea ul li{ font-size: 20px; border-radius: 10px; height: 90px;}
.recruitPage .textArea ul li:not(:last-child){margin-bottom: 20px;}
.recruitPage .textArea ul li::before,
.recruitPage .textArea ul li::after{--height: 13px; transform: translateY(-10px);}
.recruitPage .simplifyArea > p{margin-bottom: 60px;}
.recruitPage .simplifyArea ul{max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage .simplifyArea ul::before{width: 22px;}
.recruitPage .simplifyArea ul li:not(:last-child){margin-bottom: 72px;}
.recruitPage .simplifyArea ul li b{font-size: 20px; line-height: 1.2; margin-bottom: 12px;}
.recruitPage .simplifyArea ul li b::after{width: 210px; margin-top: 12px;}
.recruitPage .simplifyArea ul li p{font-size: 15px; line-height: 1.4667;}

/* 게시판 */
.boardPage h2{font-size: 30px; line-height: 1.2; margin-bottom: 30px;}
.boardPage div{gap: 10px; margin-bottom: 60px;}
.boardPage div button{font-size: 15px; line-height: 3.0667; padding-inline: 20px;}
.boardPage .user-board{flex-wrap: wrap; gap: 40px 20px;}
/* .boardPage .user-board li{flex-basis: calc((100% - 20px) / 2); min-width: 260px;} */
@media screen and (width > 550px) {
    .boardPage .user-board li{width: calc((100% - 20px) / 2);}
}
@media screen and (width <= 550px) {
    .boardPage .user-board li{width: 100%;}
}
.boardPage .user-board li a{display: block;}
.boardPage > button{margin-top: 40px;}


/* 게시판 - 상세 */
.boardDetail :is(small, time){font-size: 13px;}
.boardDetail small{margin-bottom: 15px;}
.boardDetail h2{font-size: 26px; line-height: 1.2307; margin-bottom: 30px;}
.boardDetail time{margin-bottom: 20px;}
.boardDetail div{padding-block: 40px;}
.boardDetail div p{font-size: 15px; line-height: 1.6;}
.boardDetail div ul{margin-top: 40px;}
@media screen and (width < 400px) {
    .boardDetail div ul{flex-direction: column;}
    .boardDetail div ul li{width: 100%;}
    .boardDetail div ul li:not(:last-child){margin-bottom: 20px;}
}
.boardDetail div a{font-size: 15px; line-height: 1.3333; margin-top: 60px;}
.boardDetail > a{margin-top: 50px;}


/* 사업 문의 */
.inquiryPage h2{font-size: 30px; line-height: 1.2; margin-bottom: 60px;}


/* 관리자 - 로그인 페이지 */


/* 관리자 - 공지사항 관리 페이지 */


/* 관리자 - 게시판 관리 페이지 */


/* 관리자 - 사업 문의 관리 페이지 */



/* 관리자 - 사업 문의 인풋 페이지 */


/* 관리자 - 사업 문의 상세 페이지 */


