

/* 메인 페이지 */
/* 메인 페이지 - 페이저 */
.mainPage .fullPager{display: none;}
/* 메인 페이지 - 최상단 영역 */
.mainPage .topArea > div{--typingHeight: 24px;}
.mainPage .topArea > div h2{font-size: 26px; line-height: 30px; margin-bottom: min(6.25vh, 40px);}
.mainPage .topArea > div h2 b{font-size: 60px; line-height: 70px;}
.mainPage .topArea > div p{font-size: 18px;}
.mainPage .topArea > .scroll{font-size: 9px; line-height: 11px; letter-spacing: 2.7px; bottom: 0;}
.mainPage .topArea > .scroll span{height: min(15.625vh, 100px); margin-top: min(1.09375vh, 7px);}
/* 메인 페이지 - 솔루션 영역 */
.mainPage .solutionArea ul li{height: 50%;}
.mainPage .solutionArea ul li div strong{font-size: 26px; line-height: 34px; margin-bottom: 40px;}
.mainPage .solutionArea ul li div p{display: none;}
.mainPage .solutionArea ul li div a{margin-top: min(4.6875vh, 30px);}
/* 메인 페이지 - 솔루션 영역 */
.mainPage [class^="terra"][class*="Area"] > div > div{row-gap: 80px; justify-content: center;}
.mainPage [class^="terra"][class*="Area"] > div > div > p{font-size: 18px; line-height: 24px;}
.mainPage [class^="terra"][class*="Area"] > div > div > p strong{font-size: 26px; line-height: 34px; margin-bottom: min(3.125vh, 20px);}
.mainPage [class^="terra"][class*="Area"] > div > div div{width: calc((100% - 20px) / 2); max-width: 300px; height: min(28.125vh, 180px); padding: min(2.34375vh, 15px) 15px min(3.125vh, 20px);}
.mainPage [class^="terra"][class*="Area"] > div > div div:nth-of-type(1){margin-top: min(6.25vh, 40px); margin-right: 20px;}
.mainPage [class^="terra"][class*="Area"] > div > div div strong{font-size: 25px; line-height: 30px; margin-bottom: min(1.5625vh, 10px);}
.mainPage [class^="terra"][class*="Area"] > div > div div strong small{font-size: 15px;}
.mainPage [class^="terra"][class*="Area"] > div > div div p{font-size: 12px; line-height: 18px;}
.mainPage .terra01Area > div > div div::before{--height: 30px;}
.mainPage .terra02Area > div > div div::before{--height: 38px;}
/* 메인 페이지 - 기업 소개 영역 */
.mainPage .companyArea p{font-size: 26px; line-height: 34px; max-width: 240px;}
.mainPage .companyArea a{margin-top: min(9.375vh, 60px);}
/* 메인 페이지 - 게시판 영역 */
.mainPage .boardArea > div > div h3{font-size: 26px; line-height: 34px; margin-bottom: 40px;}
.mainPage .boardArea .user-board{display: flex; gap: 20px; overflow: auto;}
.mainPage .boardArea .user-board li{min-width: 280px; flex: 1;}
.mainPage .boardArea > div > div > a{margin-top: 40px;}


/* 기업 소개 페이지 */
.companyPage .topArea > div strong{font-size: 26px; line-height: 34px; margin-bottom: 20px;}
.companyPage .topArea > div p{font-size: 20px; line-height: 26px;}
.companyPage .VPPArea p{font-size: 26px; line-height: 34px; margin-bottom: 60px;}
.companyPage .VPPArea .box-img{aspect-ratio: 360 / 755; background-image: url(../images/company-VVPImg-M.png);}
.companyPage :is(.missionArea, .visionArea) b{font-size: 18px; line-height: 21px; margin-bottom: 20px;}
.companyPage :is(.missionArea, .visionArea) strong{font-size: 34px; line-height: 40px; margin-bottom: 30px;}
.companyPage :is(.missionArea, .visionArea) p{font-size: 16px; line-height: 22px;}
.companyPage .peopleArea strong{font-size: 26px; line-height: 34px; margin-bottom: 60px;}
.companyPage .peopleArea ul{gap: 60px 20px;}
.companyPage .peopleArea ul li img{margin-bottom: 25px;}
.companyPage .peopleArea ul li :is(b, span){line-height: 24px; margin-bottom: 7px;}
.companyPage .peopleArea ul li b{font-size: 20px;}
.companyPage .peopleArea ul li span{font-size: 18px; margin-left: 15px;}
.companyPage .peopleArea ul li small{font-size: 15px; line-height: 18px; margin-bottom: 15px;}
.companyPage .peopleArea ul li p{font-size: 15px; line-height: 24px;}
.companyPage .historyArea strong{font-size: 26px; line-height: 34px; margin-bottom: 40px;}
.companyPage .historyArea ol::before{font-size: 30px; line-height: 36px; margin-bottom: 30px; display: block;}
.companyPage .historyArea ol li{font-size: 16px; --lineHeight: 22px;}
.companyPage .historyArea ol li:not(:last-child){padding-bottom: 30px;}
.companyPage .historyArea ol li small{font-size: 14px; line-height: 18px; margin-right: 20px;}
.companyPage .bottomArea::before{content: ''; display: block; max-width: 300px; margin: 0 auto 30px;}


/* 전력거래 솔루션, 발전자원 모집 페이지 공통 */
:is(.solutionPage, .recruitPage) .topArea div > strong{font-size: 30px; line-height: 36px;}
:is(.solutionPage, .recruitPage) .topArea div > p{font-size: 26px; line-height: 34px;}
:is(.solutionPage, .recruitPage) > div:not(.topArea) > :where(:first-child:not([class])){font-size: 26px; line-height: 34px;}
:is(.solutionPage, .recruitPage) > div:not(.topArea) > p:nth-child(2){font-size: 20px; line-height: 26px;}


/* 전력거래 솔루션 페이지 */
.solutionPage .topArea div:nth-of-type(3) ul li{width: 100%; max-width: 320px; height: 270px; padding: 40px;}
.solutionPage .topArea div:nth-of-type(3) ul li:not(:last-child){margin-bottom: 20px;}
.solutionPage .topArea div:nth-of-type(3) ul li::before{--width: 130px;}
.solutionPage .topArea div:nth-of-type(3) ul li > mark{font-size: 26px; line-height: 34px;}
.solutionPage .topArea div:nth-of-type(3) ul li p{font-size: 18px; line-height: 24px;}
.solutionPage .topArea div:nth-of-type(3) ul li p:first-of-type{margin-bottom: 20px;}
.solutionPage .content-process ul{max-width: 320px; margin-inline: auto;}
.solutionPage .content-process ul li{display: flex;  align-items: center;}
.solutionPage .content-process ul li strong{flex: 1; flex-shrink: 0;}
.solutionPage .content-process ul li p{font-size: 14px; line-height: 22px; margin-left: 20px; text-align: left;}
.solutionPage :is(.PPA01Area, .PPA02Area, .PPA03Area) .box-img{aspect-ratio: 360 / 778;}
.solutionPage .PPA01Area .box-img{background-image: url(../images/solution-PPAImg01-M.png);}
.solutionPage .PPA02Area .box-img{background-image: url(../images/solution-PPAImg02-M.png);}
.solutionPage .PPA03Area .box-img{background-image: url(../images/solution-PPAImg03-M.png);}
.solutionPage .content-img p{margin-bottom: 30px;}
.solutionPage .content-img div:not([class]){max-width: 370px; gap: 10px; margin-bottom: 50px;}
.solutionPage .content-img div:not([class]) b{font-size: 14px; line-height: 18px; padding: 7px 10px;}
.solutionPage .content-img dl{margin-top: 20px;}
.solutionPage .expertArea p{margin-bottom: 60px;}
.solutionPage .expertArea ul{max-width: 240px; aspect-ratio: 240 / 690; margin-inline: auto;}
.solutionPage .expertArea ul li{width: 100%; font-size: 18px; line-height: 24px; position: absolute; left: 0;}
.solutionPage .expertArea ul li:nth-child(1){top: 0;}
.solutionPage .expertArea ul li:nth-child(2){top: 50%; transform: translateY(-50%);}
.solutionPage .expertArea ul li:nth-child(3){bottom: 0;}



/* 발전자원 모집 페이지 */
.recruitPage .productArea > strong{margin-bottom: 40px;}
.recruitPage .productArea ul{max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage .productArea ul li{aspect-ratio: 320 / 200; background-image: url(../images/recruit-productBG-M.png);}
.recruitPage .productArea ul li:not(:last-child){margin-bottom: 20px;}
.recruitPage .productArea ul li strong{font-size: 22px; line-height: 26px; margin-bottom: 15px;}
.recruitPage .productArea ul li p{font-size: 15px; line-height: 20px;}
.recruitPage .content-img p{margin-bottom: 50px;}
.recruitPage .content-img dl{margin-top: 10px;}
.recruitPage .content-img .box-img{aspect-ratio: 360 / 658; background-image: url(../images/recruit-RE100-M.png);}
.recruitPage [class*="condition"][class*="Area"] > b{margin-bottom: 30px;}
.recruitPage [class*="condition"][class*="Area"] ul{gap: 20px; flex-wrap: wrap; max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage [class*="condition"][class*="Area"] ul li{flex: 1; min-width: calc((100% - 20px) / 2); --spacing: 20px; height: 250px;}
.recruitPage [class*="condition"][class*="Area"] ul li:nth-child(5){height: 150px;}
.recruitPage [class*="condition"][class*="Area"] ul li span{font-size: 14px; line-height: 18px; margin-bottom: 10px;}
.recruitPage [class*="condition"][class*="Area"] ul li b{font-size: 15px; line-height: 20px; margin-bottom: 10px;}
.recruitPage [class*="condition"][class*="Area"] ul li small{font-size: 13px; line-height: 18px;}
.recruitPage [class*="condition"][class*="Area"] ul li::after{width: 117px;}
.recruitPage [class*="condition"][class*="Area"] p:last-child{font-size: 16px; line-height: 24px; margin-top: 40px;}
.recruitPage .condition02Area strong{margin-bottom: 20px;}
.recruitPage .condition02Area p:nth-child(2){margin-bottom: 50px;}
.recruitPage .simplifyArea > p{margin-bottom: 60px;}
.recruitPage .simplifyArea ul{max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage .simplifyArea ul::before{width: 22px;}
.recruitPage .simplifyArea ul li:not(:last-child){margin-bottom: 72px;}
.recruitPage .simplifyArea ul li b{font-size: 20px; line-height: 24px; margin-bottom: 12px;}
.recruitPage .simplifyArea ul li b::after{width: 210px; margin-top: 12px;}
.recruitPage .simplifyArea ul li p{font-size: 15px; line-height: 22px;}
.recruitPage .content-process ul{max-width: 160px; margin-inline: auto;}
.recruitPage .content-process ul li strong:has(span){line-height: 22px;}
.recruitPage .content-process ul li strong span{margin-block: 15px;}


/* 게시판 */


/* 게시판 - 상세 */



/* 사업 문의 */


/* 관리자 - 로그인 페이지 */


/* 관리자 - 공지사항 관리 페이지 */


/* 관리자 - 게시판 관리 페이지 */


/* 관리자 - 사업 문의 관리 페이지 */



/* 관리자 - 사업 문의 인풋 페이지 */


/* 관리자 - 사업 문의 상세 페이지 */


