

/* 메인 페이지 */
/* 메인 페이지 - 페이저 */
.mainPage .fullPager{display: none;}
/* 메인 페이지 - 최상단 영역 */
.mainPage .topArea > div{--typingHeight: 30px;}
.mainPage .topArea > div h2{font-size: 38px; line-height: 1.153; margin-bottom: min(6.95vh, 50px);}
.mainPage .topArea > div h2 b{font-size: 90px; line-height: 1.167;}
.mainPage .topArea > div p{font-size: 24px;}
.mainPage .topArea > .scroll{font-size: 11.5px; line-height: 1.222; letter-spacing: 3.45px; bottom: 0;}
.mainPage .topArea > .scroll span{height: min(12.4421vh, 100px); margin-top: min(1.09375vh, 7px);}
/* 메인 페이지 - 솔루션 영역 */
.mainPage .solutionArea ul li{height: 50%;}
.mainPage .solutionArea ul li div strong{font-size: 43px; line-height: 1.307; margin-bottom: 35px;}
.mainPage .solutionArea ul li div p{display: none;}
/* 메인 페이지 - 솔루션 영역 */
.mainPage [class^="terra"][class*="Area"] > div > div{row-gap: 40px; justify-content: center;}
.mainPage [class^="terra"][class*="Area"] > div > div > p{font-size: 24px; line-height: 1.333;}
.mainPage [class^="terra"][class*="Area"] > div > div > p strong{font-size: 38px; line-height: 1.307; margin-bottom: min(2.9514vh, 25px);}
.mainPage [class^="terra"][class*="Area"] > div > div div{width: calc((100% - 20px) / 2); max-width: 620px; height: min(35.35875vh, 320px); padding: min(3.023725vh, 27.5px) 32.5px min(4.3405vh, 40px);}
.mainPage [class^="terra"][class*="Area"] > div > div div:nth-of-type(1){margin-top: min(6.25vh, 100px); margin-right: 20px;}
.mainPage [class^="terra"][class*="Area"] > div > div div strong{font-size: 37.5px; line-height: 1.2; margin-bottom: min(2.17015vh, 20px);}
.mainPage [class^="terra"][class*="Area"] > div > div div strong small{font-size: 22.5px;}
.mainPage [class^="terra"][class*="Area"] > div > div div p{font-size: 18px; line-height: 1.5;}
.mainPage .terra01Area > div > div div::before{--height: 50px;}
.mainPage .terra02Area > div > div div::before{--height: 55px;}
/* 메인 페이지 - 기업 소개 영역 */
.mainPage .companyArea p{font-size: 38px; line-height: 1.307; max-width: 500px;}
.mainPage .companyArea a{margin-top: min(7.4653vh, 60px);}
/* 메인 페이지 - 게시판 영역 */
.mainPage .boardArea > div > div h3{font-size: 38px; line-height: 1.307; margin-bottom: min(5.9028vh, 50px);}
.mainPage .boardArea .user-board{gap: 20px; overflow: auto; width: calc(100% + (var(--spacing) * 2)); transform: translateX(calc(var(--spacing) * -1)); padding-inline: var(--spacing); box-sizing: border-box;}
.mainPage .boardArea .user-board li{min-width: 330px; flex: 1;}
.mainPage .boardArea > div > div > a{margin-top: min(5.9028vh, 50px);}


/* 기업 소개 페이지 */
.companyPage .topArea > div strong{font-size: 38px; line-height: 1.307; margin-bottom: 25px;}
.companyPage .topArea > div p{font-size: 30px; line-height: 1.3;}
.companyPage .VPPArea p{font-size: 38px; line-height: 1.307; margin-bottom: 80px;}
.companyPage .VPPArea .box-img{aspect-ratio: 360 / 755; background-image: url(../images/company-VVPImg-M.png);}
.companyPage :is(.missionArea, .visionArea) b{font-size: 24px; line-height: 1.667; margin-bottom: 30px;}
.companyPage :is(.missionArea, .visionArea) strong{font-size: 52px; line-height: 1.176; margin-bottom: 45px;}
.companyPage :is(.missionArea, .visionArea) p{font-size: 21px; line-height: 1.375;}
.companyPage .peopleArea strong{font-size: 26px; line-height: 1.307; margin-bottom: 80px;}
.companyPage .peopleArea ul{gap: 80px 20px;}
.companyPage .peopleArea ul li img{margin-bottom: 37.5px;}
.companyPage .peopleArea ul li :is(b, span){margin-bottom: 11px;}
.companyPage .peopleArea ul li b{font-size: 25px; line-height: 1.2;}
.companyPage .peopleArea ul li span{font-size: 24px; line-height: 1.333; margin-left: 17.5px;}
.companyPage .peopleArea ul li small{font-size: 17.5px; line-height: 1.2; margin-bottom: 22.5px;}
.companyPage .peopleArea ul li p{font-size: 17.5px; line-height: 1.6;}
.companyPage .historyArea strong{font-size: 38px; line-height: 1.307; margin-bottom: 60px;}
.companyPage .historyArea ol::before{font-size: 45px; line-height: 1.2; margin-bottom: 40px; display: block;}
.companyPage .historyArea ol li{font-size: 21px; --lineHeight: 26.5px;}
.companyPage .historyArea ol li:not(:last-child){padding-bottom: 45px;}
.companyPage .historyArea ol li small{font-size: 19px; margin-right: 30px;}
.companyPage .bottomArea::before{content: ''; display: block; max-width: 300px; margin: 0 auto 30px;}


/* 전력거래 솔루션, 발전자원 모집 페이지 공통 */
:is(.solutionPage, .recruitPage) .topArea div > strong{font-size: 45px; line-height: 1.2;}
:is(.solutionPage, .recruitPage) .topArea div > p{font-size: 38px; line-height: 1.307;}
:is(.solutionPage, .recruitPage) > div:not(.topArea) > :where(:first-child:not([class])){font-size: 38px; line-height: 1.307;}
:is(.solutionPage, .recruitPage) > div:not(.topArea) > p:nth-child(2){font-size: 30px; line-height: 1.3;}
:is(.solutionPage, .recruitPage) > div:has(.content-inquiry) > p{margin-bottom: 80px;}


/* 전력거래 솔루션 페이지 */
.solutionPage .topArea div:nth-of-type(3) ul li{width: 100%; max-width: 640px; height: min(40vh, 400px); padding: 50px;}
.solutionPage .topArea div:nth-of-type(3) ul li:not(:last-child){margin-bottom: 20px;}
.solutionPage .topArea div:nth-of-type(3) ul li::before{--width: 195px;}
.solutionPage .topArea div:nth-of-type(3) ul li > mark{font-size: 38px; line-height: 1.307;}
.solutionPage .topArea div:nth-of-type(3) ul li p{--fontSize: 24px; line-height: 1.333;}
.solutionPage .topArea div:nth-of-type(3) ul li p:first-of-type{margin-bottom: 30px;}
.solutionPage .content-process ul{max-width: 350px; margin-inline: auto;}
.solutionPage .content-process ul li{display: flex;  align-items: center;}
.solutionPage .content-process ul li strong{flex: 1; flex-shrink: 0;}
.solutionPage .content-process ul li p{font-size: 18px; line-height: 1.571; margin-left: 25px; text-align: left;}
.solutionPage :is(.PPA01Area, .PPA02Area, .PPA03Area) .box-img{aspect-ratio: 360 / 778;}
.solutionPage .PPA01Area .box-img{background-image: url(../images/solution-PPAImg01-M.png);}
.solutionPage .PPA02Area .box-img{background-image: url(../images/solution-PPAImg02-M.png);}
.solutionPage .PPA03Area .box-img{background-image: url(../images/solution-PPAImg03-M.png);}
.solutionPage .content-img p{margin-bottom: 35px;}
.solutionPage .content-img div:not([class]){max-width: 445px; gap: 10px; margin-bottom: 65px;}
.solutionPage .content-img div:not([class]) b{font-size: 18px; line-height: 1.285; padding: 7px 10px;}
.solutionPage .content-img dl{margin-top: 40px;}
.solutionPage .expertArea p{margin-bottom: 80px;}
.solutionPage .expertArea ul{max-width: 360px; aspect-ratio: 240 / 690; margin-inline: auto;}
.solutionPage .expertArea ul li{width: 100%; font-size: 22px; line-height: 1.333; position: absolute; left: 0;}
.solutionPage .expertArea ul li:nth-child(1){top: 0;}
.solutionPage .expertArea ul li:nth-child(2){top: 50%; transform: translateY(-50%);}
.solutionPage .expertArea ul li:nth-child(3){bottom: 0;}



/* 발전자원 모집 페이지 */
.recruitPage .productArea > strong{margin-bottom: 60px;}
.recruitPage .productArea ul{max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage .productArea ul li{aspect-ratio: 320 / 200; background-image: url(../images/recruit-productBG-M.png);}
.recruitPage .productArea ul li:not(:last-child){margin-bottom: 20px;}
.recruitPage .productArea ul li strong{font-size: 31px; line-height: 1.1818; margin-bottom: 22.5px;}
.recruitPage .productArea ul li p{font-size: 19.5px; line-height: 1.333;}
.recruitPage .content-process ul{max-width: 205px; margin-inline: auto;}
.recruitPage .content-process ul li strong:has(span){line-height: 1.375;}
.recruitPage .content-process ul li strong span{margin-block: 20px;}
.recruitPage .content-img p{margin-bottom: 65px;}
.recruitPage .content-img dl{margin-top: 30px;}
.recruitPage .content-img .box-img{aspect-ratio: 360 / 658; background-image: url(../images/recruit-RE100-M.png);}
.recruitPage [class*="condition"][class*="Area"] > b{margin-bottom: 45px;}
.recruitPage [class*="condition"][class*="Area"] ul{gap: 20px; flex-wrap: wrap; max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage [class*="condition"][class*="Area"] ul li{flex: 1; min-width: calc((100% - 20px) / 2); --spacing: 20px; height: 305px;}
.recruitPage [class*="condition"][class*="Area"] ul li:nth-child(5){height: 205px;}
.recruitPage [class*="condition"][class*="Area"] ul li span{font-size: 18px; line-height: 1.2857; margin-bottom: 20px;}
.recruitPage [class*="condition"][class*="Area"] ul li b{font-size: 20.5px; line-height: 1.333; margin-bottom: 11px;}
.recruitPage [class*="condition"][class*="Area"] ul li small{font-size: 16.5px; line-height: 1.3846;}
.recruitPage [class*="condition"][class*="Area"] ul li::after{width: 143.5px;}
.recruitPage [class*="condition"][class*="Area"] p:last-child{font-size: 23px; line-height: 1.5; margin-top: 60px;}
.recruitPage .condition02Area strong{margin-bottom: 25px;}
.recruitPage .condition02Area p:nth-child(2){margin-bottom: 65px;}
.recruitPage .textArea{padding-block: 172.5px;}
.recruitPage .textArea li{max-width: var(--mobileContentSize); margin-inline: auto; font-size: 30px; border-radius: 15px; height: 135px;}
.recruitPage .textArea li:not(:last-child){margin-bottom: 30px;}
.recruitPage .textArea li::before,
.recruitPage .textArea li::after{--height: 18.5px; transform: translateY(-13.5px);}
.recruitPage .simplifyArea > p{margin-bottom: 80px;}
.recruitPage .simplifyArea ul{max-width: var(--mobileContentSize); margin-inline: auto;}
.recruitPage .simplifyArea ul::before{width: 26px;}
.recruitPage .simplifyArea ul li:not(:last-child){margin-bottom: 108px;}
.recruitPage .simplifyArea ul li b{font-size: 25px; line-height: 1.2; margin-bottom: 16px;}
.recruitPage .simplifyArea ul li b::after{width: 210px; margin-top: 12px;}
.recruitPage .simplifyArea ul li p{font-size: 20.5px; line-height: 1.4667;}

/* 게시판 */
.boardPage h2{font-size: 45px; line-height: 1.2; margin-bottom: 45px;}
.boardPage div{gap: 15px; margin-bottom: 90px;}
.boardPage div button{font-size: 18.5px; line-height: 3.0667; padding-inline: 25px;}
.boardPage .user-board{flex-wrap: wrap; justify-content: center; gap: 60px 30px;}
.boardPage .user-board li{width: calc((100% - 30px) / 2);}
.boardPage .user-board li a{display: block;}
.boardPage > button{margin-top: 60px;}


/* 게시판 - 상세 */
.boardDetail :is(small, time){font-size: 16.5px;}
.boardDetail small{margin-bottom: 17.5px;}
.boardDetail h2{font-size: 33px; line-height: 1.2307; margin-bottom: 35px;}
.boardDetail time{margin-bottom: 25px;}
.boardDetail div{padding-block: 50px;}
.boardDetail div p{font-size: 18.5px; line-height: 1.6;}
.boardDetail div ul{margin-top: 50px;}
.boardDetail div a{font-size: 18.5px; line-height: 1.3333; margin-top: 90px;}
.boardDetail > a{margin-top: 65px;}


/* 사업 문의 */
.inquiryPage h2{font-size: 45px; line-height: 1.2; margin-bottom: 60px;}


/* 관리자 - 로그인 페이지 */


/* 관리자 - 공지사항 관리 페이지 */


/* 관리자 - 게시판 관리 페이지 */


/* 관리자 - 사업 문의 관리 페이지 */



/* 관리자 - 사업 문의 인풋 페이지 */


/* 관리자 - 사업 문의 상세 페이지 */


