:root{
    --contentSize: 1240px;
    --contentSize-padding: calc(var(--contentSize) + var(--scrollWidth));
    --padding04: 100px;
    --color-BG01: #162446;
    --color-BG02: #F8F8F8;
    --color-line: #DEDEDE;
    --color-point01: #F37321;
    --color-point02: #0046FF;
    --responsive: 1240px;
    --aniDuration: 0.6s;
    --aniDelay: 0s; 
    --aniDelay-list: 0.2s;
    --aniDelay-basic: 0s;
}

/* html{--scrollWidth: 17px;} */


@font-face {
    font-family: 'hanwha';
    src: url('../font/HanwhaB.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'hanwha';
    src: url('../font/HanwhaL.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@media screen and (width > 1100px) {
    :root{
        --headerHeight: 100px;
        --padding01: 200px;
        --padding02: 160px;
        --padding03: 120px;
        --spacing: 25px;
    }
}

@media screen and (720px < width) and (width <= 1100px) {
    :root{
        --headerHeight: 80px;
        --padding01: 140px;
        --padding02: 120px;
        --padding03: 90px;
        --spacing: 20px;
        --mobileContentSize: 480px;
    }
}

@media screen and (width <= 720px) {
    :root{
        --headerHeight: 58px;
        --padding01: 80px;
        --padding02: 80px;
        --padding03: 60px;
        --spacing: 20px;
        --mobileContentSize: 320px;
    }
}